In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

In [2]:
# First, import the relevant modules
import requests
import json

In [3]:
p = {'start_date':'2020-05-18', 'end_date':'2020-05-18'}

In [4]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
r = requests.get('https://www.quandl.com/api/v3/datasets/FSE/EON_X', params= p)

In [5]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
r.text

'{"dataset":{"id":36592406,"dataset_code":"EON_X","database_code":"FSE","name":"E.on Se (EON_X)","description":"Stock Prices for E.on Se (2020-05-04) from the Frankfurt Stock Exchange.\\u003cbr\\u003e\\u003cbr\\u003eTrading System: Xetra\\u003cbr\\u003e\\u003cbr\\u003eISIN: DE000ENAG999","refreshed_at":"2020-05-18T22:16:14.365Z","newest_available_date":"2020-05-18","oldest_available_date":"2003-01-20","column_names":["Date","Open","High","Low","Close","Change","Traded Volume","Turnover","Last Price of the Day","Daily Traded Units","Daily Turnover"],"frequency":"daily","type":"Time Series","premium":false,"limit":null,"transform":null,"column_index":null,"start_date":"2020-05-18","end_date":"2020-05-18","data":[["2020-05-18",9.1,9.294,9.082,9.27,null,3728013.0,34271814.92,null,null,null]],"collapse":null,"order":null,"database_id":6129}}'

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [6]:
#1
p2017= {'start_date':'2017-01-01', 'end_date':'2017-12-31'}
r2017= requests.get('https://www.quandl.com/api/v3/datasets/FSE/EON_X', params= p2017)

In [7]:
#2
data= r2017.json()

In [8]:
data['dataset']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [9]:
s=len(data['dataset']['data'])

In [10]:
op=[]
for i in range(s):
    op.append(data['dataset']['data'][i][1])

In [11]:
#3
print(max(op))
print(min(op))

10.75
6.65

In [12]:
change=[]
for i in range(s):
    change.append(data['dataset']['data'][i][2] - data['dataset']['data'][i][3])

In [13]:
#4
print(max(change))

0.6999999999999993

In [14]:
change_daily=[]
for i in range(s-1):
    change_daily.append(data['dataset']['data'][i+1][4] - data['dataset']['data'][i][4])

In [15]:
#5
print(max(change_daily))

0.47999999999999865

In [16]:
tv=[]
for i in range(s):
    tv.append(data['dataset']['data'][i][6])

In [17]:
#6
sum(tv)/len(tv)

11708661.142857144